@import url('https://fonts.googleapis.com/css2?family=BioRhyme&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
@layer base{
  html{
    font-family: 'BioRhyme', serif; }
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}
#para{
  line-height: 1.5;
}
section{
  position: relitive;
  width:100%;
  height:.3vh;
  overflow:hidden;
  
}
section .wave{
  position: fixed; 
  bottom:0;
  left:0;
  width:100%;
  height:100px;
  background:url(../public/wave.png);
  backgroundsize: 1000px 100px;
  animation: alternate;
}
section .wave.wave1{
  animation: animate 10s linear infinite alternate;
  z-index: 1000;
  opacity:1;
animaation-delay:0s;
  bottom:0;
}
section .wave.wave2{
  animation: animate2 5s linear infinite alternate;
  z-index: 999;
  opacity:0.5;
  animation-delay:-5s;
  bottom:10px;
}
section .wave.wave3{
  animation: animate 15s linear infinite alternate;
  z-index: 998;
  opacity:0.2;
  animation-delay:-2s;
  bottom:15;
}
section .wave.wave4{
  animation: animate2 7s linear infinite alternate;
  z-index: 997;
  opacity:0.7;
  animation-delay:-5s;
  bottom:20px;
}

@keyframes animate{
  0%
  {
    background-position-x:0;
  }
  100%
  {
    background-position-x:1000px;
  }


}
@keyframes animate2{
  0%
  {
    background-position-x:0;
  }
  100%
  {
    background-position-x:-1000px;
  }


}
#logo{
  animation: logo_animate 8s ease-in-out infinite 1s;
  box-shadow:9px rgb(225, 225, 225 /30%);
}

@keyframes logo_animate{
  0%{
border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50%{
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100%{
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.card{
  animation: card_animate 8s ease-in-out infinite 1s;
  box-shadow:9px rgb(225, 225, 225 /30%);
}

@keyframes card_animate{
  0%{
border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50%{
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  100%{
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}